{% extends 'chat_read.html' %}
{% block chat_input %}
<div class='r_post'>
        {% for message in all_message %}
        <h5 class="post_info">{{ message.author}}, {{ message.date }}, {{ message.content }}</h5>
        {% empty %}
        <p>No message</p>
        {% endfor %}
        {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">OK</button>
        </form>
        {% else %}
            You must be logged in to chat
        {% endif %}
    </div>
{% endblock chat_input %}
